/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ---------------- BODY ----------------- */
body {
  font-family: "Lati", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* ---------------- HEADER ----------------- */
div#headerWrapper {
  background-color: #108dbb; }

header {
  color: #ce3a67;
  padding: 1rem 2%; }
  header form {
    float: right; }
  header form input {
    width: 6rem;
    border-radius: 10px;
    margin-right: 2%;
    padding: .2rem;
    border: none;
    transition: width .5s; }
  header form input:focus {
    width: 8rem; }

h1 {
  font-size: 2rem;
  font-weight: 300; }

h2 {
  font-size: 1.05rem;
  font-weight: 300; }

/* ---------------- NAVIGATION ----------------- */
nav {
  background-color: #ce3a67;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: #108dbb;
    text-decoration: none;
    transition: background .75s ease, color .75s ease; }
  nav ul li.active a {
    background-color: #ab2a51; }
  nav ul li a:hover {
    color: #ce3a67;
    background-color: #108dbb; }

p {
  line-height: 130%;
  color: #35373a; }

/* ------ form stuff nested inside main ----- */
form {
  margin: 1rem 2%;
  max-width: 25rem; }
  form fieldset {
    border: 1px solid #EAEAEA;
    border-radius: .4rem;
    padding: 0 2%;
    margin: 2rem 0; }
    form fieldset legend {
      text-align: center;
      color: #ce3a67;
      padding: 0 .4rem; }
  form label.top {
    font-size: .75rem;
    display: block;
    padding: .75rem 0; }
    form label.top span {
      font-size: .75rem;
      color: #ce3a67; }
    form label.top input,
    form label.top select {
      display: block;
      font-size: 1.25rem;
      padding: .75rem;
      background-olor: #FbFbFb;
      border: none;
      border-radius: 5px;
      color: #108dbb;
      margin-top: .2rem;
      width: 100%; }
    form label.top textarea {
      min-height: 13rem; }
    form label.top input:required {
      border: 1px solid red; }
    form label.top input:required:valid {
      border-color: #108dbb; }
    form label.top input:focus {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset; }
  form label.sbs {
    display: block;
    padding: .75rem 0; }
  form h2 {
    font-weight: 300;
    font-size: .75rem;
    padding: 1.5rem 0 0 0; }
  form input.submitBtn {
    border: none;
    background-color: #ce3a67;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .4rem 1rem;
    border-radius: 1rem;
    width: 100%; }

section div {
  color: #777;
  font-size: .75rem;
  padding: .3rem 0 .1rem .2rem;
  margin-top: 2rem; }

.myInput {
  width: 100%;
  font-size: 1rem;
  color: #ce3a67;
  padding: .75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fbfbfb; }

.sbs {
  margin-left: .75rem; }

section span {
  display: none; }

section.error span {
  display: block;
  font-size: .75rem;
  color: #C20000;
  padding-left: .2rem; }

section.error div {
  background-color: rgba(255, 0, 0, 0.3); }

section p {
  display: none; }

section.error p {
  display: block;
  border: solid 1px #F00;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0.3rem 2%; }

/*# sourceMappingURL=styles.css.map */
